@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-dark text-text font-sans;
}

@keyframes pulse-glow {
  0%, 100% { box-shadow: 0 0 10px #6f00ff88; }
  50% { box-shadow: 0 0 30px #6f00ff; }
}

.animate-glow {
  animation: pulse-glow 1s ease-in-out infinite;
} */
